{% extends '@EasyAdmin/default/layout.html.twig' %}
{#{% form_theme form with easyadmin_config('design.form_theme') %}#}
{% set _content_title = 'Offer' %}{% block page_title -%}
    {{ _content_title }}
{%- endblock %}{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}
{% block main %}

    <script>
        $(document).ready(function () {
            $('.checkbox-js').on('click', function () {
                console.log('atejo');
                console.log($(this).find('.check').val());
                if ($(this).find('.check').val() > 0) {
                    console.log('ATEJO i g');
                    $(this).find('.check').val(0);
                }
                else {

                    console.log('ATEJO i bloga');
                    $(this).find('.check').val(1);


                }

            })
        })
        ///////////////////////////////////////


    </script>
    <style>
        .btn span.glyphicon {
            opacity: 1;
        }

        .btn.active span.glyphicon {
            opacity: 0;
        }

        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid green;
            border-radius: 2px;
        }

        textarea[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid green;
            border-radius: 2px;
        }

        .myButton {
            background-color: green;
            -moz-border-radius: 28px;
            -webkit-border-radius: 28px;
            border-radius: 28px;
            border: 1px solid green;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 19px;
            padding: 3px 9px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #2f6627;
        }

        .myButton:hover {
            background-color: green;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url(../fonts/glyphicons-halflings-regular.eot);
            src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
        }

        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;

        -moz-osx-font-smoothing: grayscale
        icn {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        }

        .panel-heading {
            background: green;

        }

        .panel-primary > .panel-heading {

            color: #fff;
            background-color: green;
            border-color: green;

        }

        .panel {
            border-color: green;
        }

        .glyphicon {
            color: green;
        }

        .glyphicon-ok {
            color: white;
        }

        .glyphicon-ok:before {
            content: "\e013";
        }


    </style>
    {% if offer.status == "CREATED" %}
        {% include('admin/offer/unassigned_edit.html.twig') with {'offer': offer, 'templateItems': templateItems} %}
    {% endif %}
    {% if offer.status != "CREATED" %}
        {% include('admin/offer/assigned_edit.html.twig') with {
            'offer': offer,
            'templateItems': templateItems,
            'positionTimeItems': positionTimeItems,
            'positionNoTimeItems': positionNoTimeItems} %}
    {% endif %}



{% endblock %}