{% block main %}
    <div>
        <p>Heres is link to your offer: </p>
        <span>{{ link }}</span>
        <a href="{{ link }}">Click here to see your offer</a>
    </div>
    <div>
        <div>{{ offer.message }}</div>
    </div>
{% endblock %}