<div class="summary">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="card-title"><i class="fa fa-money fa-3x"> </i></h2>
                        </div>
                        <div class="col-sm-6" style="text-align:right">
                            <h3 class="card-title left">{{ offerTemplate.template.price |number_format(0, '.') }}€ </h3>
                            <p class="card-title left" style="color:grey">Kaina</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="card-title"><i class="fa fa-street-view fa-3x"> </i>I</h2>
                        </div>
                        <div class="col-sm-6" style="text-align:right">
                            <h3 class="card-title left">{{ offerTemplate.template.reach |number_format(0, '.') }} </h3>
                            <p class="card-title left" style="color:grey">Peržiūros</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="card-title"><i class="fa fa-eye"> </i>I</h2>
                        </div>
                        <div class="col-sm-6" style="text-align:right">
                            <h3 class="card-title left">{{ offerTemplate.divide() |round(2, 'floor') }}€</h3>
                            <p class="card-title left" style="color:grey">Peržiūros kaina</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>