{% for otherPosition in otherPositions %}
    <li class="list-group-item">

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h5 class="super-list-title">{{ otherPosition.name }}</h5>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-4"
                 style="text-align=right; float:right; color:grey">
                <span><i class="fa fa-money"></i>{{ otherPosition.price|number_format(0, '.') }}€</span>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-4"
                 style="text-align=right; float:right; color:grey">
                <span><i class="fa fa-eye"></i>{{ otherPosition.reach|number_format(0, '.') }}</span>
            </div>
        </div>
    </li>
{% endfor %}